* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* BBBDF6 
    9893DA
    797A9E
 */
body {
    padding: 0;
    margin: 0;
    background-color: #797A9E;
    display: flex;
}

.container {
    position: relative;
    height: 300px;
    width: 450px;
    background-color: #afb3cc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.letter-cont {
    background-color: white;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

.lettAni {
    animation: lettAni 4s infinite;
}

@keyframes lettAni {
    0% {
        transform: translateY(0);
    }
    50% {
        transform:  translateY(-200px);
    }
    100% {
        transform: translateY(-300px) translateX(700px);
    } 
}

/* .letter-ani {
    animation: ani 4s alternate;
} */

.letter-cont p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.envelope {
    position: absolute;
    /* background-color: black; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 150px solid transparent;
    border-right: 220px solid #BBBFD6;
    border-bottom: 150px solid #BBBFD6;
    border-left: 220px solid #BBBFD6;
    z-index: 2000;
}

.lid {
    position: absolute;
    /* background-color: red; */
    /* height: 150px;
    width: 450px; */
    top: -300px;
    border-top: 150px solid transparent;
    border-right: 225px solid transparent;
    border-bottom: 150px solid #BBBFD6;
    border-left: 225px solid transparent;  
    z-index: 500;
}